<!DOCTYPE html>
<html lang="en-US">

<body>
    <head>
    <title>Prime Letters</title>
    <link rel="shortcut icon" type="image/png" href="../../public/img/favicon.png" >
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <div class="frame">
        <div class="main-content">
            
            {{>form}}
            
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>