body {
    color: #1dd1a1;
    font-family: arial;
    max-width: 0 auto;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

h3{
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
}
textarea {
    background-color: #c8d6e5;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;

}
.space {
    display: flex;
    flex-grow: 1;
}

button {
    width: 100;
    background-color: #1dd1a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #10ac84;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #576574;
    padding: 20px;
    min-height: 250px;
    max-height: 400px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;

}